
@media screen and (max-width: 1024px) {
  .logo {
    width: 80px;
    height: 57px;
  }
  /* banner--section */
  .banner--qoute {
    left: 400px;
    top: 140px;
  }
  .reviews_wrapper {
    width: 100%;
    gap: 1rem;
    align-items: center;
    justify-items: center;
  }
}
@media screen and (max-width: 1020px) {
  .min_wrapper {
    grid-template-columns: repeat(2, 315px);
  }
}
@media screen and (max-width: 900px) {
  .reviewCard_image {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.6rem;
    margin-bottom: 0.8rem;
  }
}
@media screen and (max-width: 768px) {
  .btn{
    padding: 10px 30px;
  }
  /* banner--section */
  .banner--qoute {
    left: 300px;
    top: 80px;
    font-size: 3.2rem;
    line-height: 3.2rem;
  }
  /* food section */
  .subTitle {
    font-size: var(--mdfont-size);
    line-height: var(--mdfont-size);
  }
  .min_wrapper {
    grid-template-columns: repeat(2, 270px);
  }
  
  .reviews_wrapper {
    grid-template-columns: repeat(1, 1fr);
    gap: 0.5rem;
  }

  /* food--slider */
 
  .slide {
    flex-direction: column;
  }
 
  
}
@media screen and (max-width: 576px) {
   .btn{
    padding: 10px;
   }
  /* banner--section */
  .banner {
    height: 60vh;
  }
  .banner--qoute {
    left: 200px;
    top: 30px;
    font-size: 2.5rem;
  }
  /* food slide section */
  .min_wrapper {
    grid-template-columns: repeat(1, 315px);
  }
}
@media screen and (max-width: 425px) {
 .banner--qoute {
    left: 70px;
    top: 15px;
  }
}
@media screen and (max-width: 320px) {
  /* banner--section */
  .banner--qoute {
    left: 50px;
    top: 10px;
    font-size: 2rem;
  }
  /* food slide section */
  .min_wrapper {
    grid-template-columns: repeat(1, 250px);
  }
  .subTitle {
    font-size: 1.2rem;
    line-height: 1rem;
  }
  /* about section */
  .about_wrapper p {
    font-size: 0.9rem;
    line-height: 0.9rem;
  }
}
@media screen and (max-width: 250px) {
  .banner--qoute {
    left: 30px;
    line-height: 2.5rem;
  }
  /* food slide section */
  .min_wrapper {
    grid-template-columns: repeat(1, 170px);
  }
}
