@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;600&display=swap");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  /* colors */
  --body-color: #dfe6e8;
  --color-pinkswan: #b6b6b6;
  --deeplightblue-color: #f2f8f8;
  --shadedpink-color: #ff2a6b;
  --orange-color: #ffa500;
  --white-color: #ffffff;
  --black-color: #000000;
  --warning-color: #ff0000;
  /* font-families */
  --font-family: "Lato", sans-serif;
  --font-family-poppins: "Poppins", sans-serif;
  /* font-size */
  --xxlfont-size: 4rem;
  --xlfont-size: 3.5rem;
  --lgfont-size: 2.5rem;
  --mdfont-size: 2rem;
  --smfont-size: 1.5rem;
  --xsfont-size: 1.25rem;
  --xxsfont-size: 0.8rem;
}
body {
  background-color: var(--body-color);
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
/* Scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--deeplightblue-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--black-color);
}
/* common for all */
.btn {
  border: none;
  padding: 20px 70px;
  border-radius: 40px;
  cursor: pointer;
}
.btn-color {
  background: var(--shadedpink-color);
}
/* main design begins */
.main {
  background-color: var(--white-color);
  max-width: 1220px;
  width: 100%;
  margin: 0 auto;
}
/* banner design */
.banner {
  height: 80vh;
  background-image: url("https://res.cloudinary.com/dvfszvcxa/image/upload/q_70/v1679294104/top-view-food-frame-with-copy-space_n5lucc.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.banner--qoute {
  position: absolute;
  left: 600px;
  top: 250px;
  font-size: var(--xxlfont-size);
  line-height: var(--xxlfont-size);
  color: var(--white-color);
}
/* food--slider */
.foodSlider {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--shadedpink-color);
}
.foodSlider_wrapper {
  position: relative;
  display: flex;
  max-width: 800px;
  width: 100%;
  padding: 40px 30px;
  overflow: hidden;
}
.slide--content {
  width: 100%;
}
.slide {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 30px;
  overflow: hidden;
}
.slide img {
  width: 100%;
  height: 405px;
  object-fit: cover;
}
.slide_info {
  position: absolute;
  bottom: 22px;
}
.slide_title {
  padding: 15px 25px;
  background-color: var(--white-color);
  color: var(--shadedpink-color);
}
.slide_info::after {
  content: "";
  position: absolute;
  top: 0;
  right: -36px;
  width: 0;
  border-width: 32px 18px;
  border-style: solid;
  border-color: #fff transparent transparent #fff;
}
.slide-btn {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  transform: translateY(10px);
  background-color: rgba(0, 0, 0, 0.9);
  transition: 0.2s;
}
.slide-btn:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.slide-btn::after,
.slide-btn::before {
  font-size: var(--xsfont-size);
  color: var(--shadede-color);
}
/* about */
.about {
  padding: 0.9rem 0;
}
.about_wrapper {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subTitle {
  font-family: var(--font-family-poppins);
  font-size: var(--xlfont-size);
  line-height: var(--xlfont-size);
  margin: 0.7rem 0 1.3rem;
  text-align: center;
}
.about_wrapper p {
  line-height: 1.3rem;
}
/* food section starts */
.food_wrapper {
  padding: 20px;
  margin: 0 auto;
}
.min_wrapper {
  display: grid;
  grid-template-columns: repeat(3, 315px);
  align-items: center;
  justify-content: center;
  gap: 2rem;
  transition: 1s;
  transition-timing-function: ease-in-out;
}

.food-img {
  width: 100%;
  height: 237px;
  object-fit: cover;
}
.min_wrapper-box {
  height: 370px;
  box-shadow: 0px 4px 7px 3px rgba(0, 0, 0, 0.41);
}
.food-name {
  font-family: var( --font-family-poppins);
  font-size: var(--mdfont-size);
  margin-bottom: 0.3rem;
}

.min_wrapper-box div {
  padding: 1rem;
}
.goto {
  display: inline-block;
  margin-top: 1rem;
  padding: 10px;
  border-radius: 50px;
  background-color: var(--shadedpink-color);
  color: var(--white-color);
}
.goto:hover {
  color: var(--black-color);
}

/* reviews */
.reviews {
  padding: 2rem 0;
}
.reviews_wrapper {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 315px);
  gap: 2.5rem;
  position: relative;
  overflow: hidden;
}
.reviewCard {
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0px 4px 7px 3px rgba(0, 0, 0, 0.41);
  padding: 30px 15px;
  border-radius: 10px;
  overflow: hidden;
}
.reviews_wrapper .swiper-button-next,
.reviews_wrapper .swiper-button-prev {
  position: absolute;
}

.reviews_wrapper .swiper-wrapper {
  padding: 0 60px 20px;
}
.reviewCard_image {
  display: flex;
  gap: 0.6rem;
  margin-bottom: 0.8rem;
}
.reviewCard_image img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: solid 5px var(--shadedpink-color);
}
.checked {
  color: var(--orange-color);
}
.reviewCard_des {
  background-color: var(--shadedpink-color);
  border-radius: 5px;
  box-shadow: inset -1.4px -1.4px 2px rgba(0, 0, 0, 0.3);
}
.reviewCard_des blockquote {
  text-align: left;
  position: relative;
  padding: 45px 20px 40px 50px;
}
.reviewCard_des blockquote:before {
  font-family: "FontAwesome";
  content: "\201C";
  position: absolute;
  font-size: var(--xlfont-size);
  opacity: 0.25;
  font-style: normal;
  top: 0px;
  left: 20px;
}

/* om media screens */

@media screen and (max-width: 1024px) {
  .logo {
    width: 80px;
    height: 57px;
  }
  /* banner--section */
  .banner--qoute {
    left: 400px;
    top: 140px;
  }
  .reviews_wrapper {
    width: 100%;
    gap: 1rem;
    align-items: center;
    justify-items: center;
  }
}
@media screen and (max-width: 1020px) {
  .min_wrapper {
    grid-template-columns: repeat(2, 315px);
  }
}
@media screen and (max-width: 900px) {
  .reviewCard_image {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.6rem;
    margin-bottom: 0.8rem;
  }
}
@media screen and (max-width: 768px) {
  .btn {
    padding: 10px 30px;
  }
  /* banner--section */
  .banner--qoute {
    left: 300px;
    top: 80px;
    font-size: 3.2rem;
    line-height: 3.2rem;
  }
  /* food slide */
  .slide_info::after {
    border-width: 30px 18px;
  }
  /* food section */
  .subTitle {
    font-size: var(--mdfont-size);
    line-height: var(--mdfont-size);
  }
  .min_wrapper {
    grid-template-columns: repeat(2, 270px);
  }
  .food-name {
    font-size: var(--xsfont-size);
  }
  /* review */
  .reviews_wrapper {
    grid-template-columns: repeat(1, 1fr);
    gap: 0.5rem;
  }

  /* food--slider */

  .slide {
    flex-direction: column;
  }
}
@media screen and (max-width: 576px) {
  .btn {
    padding: 10px;
  }
  /* banner--section */
  .banner {
    height: 60vh;
  }
  .banner--qoute {
    left: 200px;
    top: 30px;
    font-size: 2.5rem;
  }
  /* food slider */
  .slide img {
    height: 300px;
  }
  .slide_title {
    padding: 15px;
    font-size: 0.9rem;
  }
  .slide_info::after {
    right: -30px;
    border-width: 24px 15px;
  }
  /* food section */
  .min_wrapper {
    grid-template-columns: repeat(1, 315px);
  }
}
@media screen and (max-width: 425px) {
  .banner--qoute {
    left: 70px;
    top: 15px;
  }
  .slide_title {
    font-size: 0.8rem;
    padding: 5px;
  }
  .slide_info::after {
    right: -20px;
    border-width: 13px 10px;
  }
}
@media screen and (max-width: 320px) {
  /* banner--section */
  .banner--qoute {
    left: 50px;
    top: 10px;
    font-size: 2rem;
  }
  /* slide section  */
  .foodSlider_wrapper {
    padding: 25px;
  }
  .slide img {
    height: 250px;
  }
  .slide_title {
    font-size: 0.5rem;
  }
  .slide_info::after {
    border-width: 10px;
  }
  /* food  section */
  .min_wrapper {
    grid-template-columns: repeat(1, 250px);
  }
  .subTitle {
    font-size: var(--smfont-size);
    line-height: 1.7rem;
  }
  .hero_title {
    padding: 0 15px;
    font-size: var(--mdfont-size);
  }
  /* about section */
  .about_wrapper p {
    font-size: 0.9rem;
    line-height: 0.9rem;
  }
}
@media screen and (max-width: 250px) {
  .banner--qoute {
    left: 30px;
    line-height: 2.5rem;
  }
  /* food slide section */
  .min_wrapper {
    grid-template-columns: repeat(1, 170px);
  }
  .min_wrapper-box {
    height: auto;
  }
}
