@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;600&display=swap");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  /* colors */
  --body-color: #dfe6e8;
  --color-pinkswan: #b6b6b6;
  --deeplightblue-color: #f2f8f8;
  --shadedpink-color: #ff2a6b;
  --lightpink-color: #ff2a6b;
  --orange-color: #ffa500;
  --white-color: #ffffff;
  --black-color: #000000;
  --warning-color: #ff0000;
  /* font-families */
  --font-family: "Lato", sans-serif;
  --font-family-poppins: "Poppins", sans-serif;
  /* font-size */
  --xxlfont-size: 4rem;
  --xlfont-size: 3.5rem;
  --lgfont-size: 2.5rem;
  --mdfont-size: 2rem;
  --smfont-size: 1.5rem;
  --xsfont-size: 1.25rem;
  --xxsfont-size: 1.1rem;
}
body {
  background-color: var(--body-color);
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
/* Scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--deeplightblue-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--black-color);
}
/* common for all */
.btn {
  border: none;
  padding: 20px 70px;
  border-radius: 40px;
  cursor: pointer;
}
.btn-color {
  background: var(--shadedpink-color);
}
.btn-signup {
  background: #b7b7b7;
}
/* nav section */
.nav_wrapper {
  padding: 0.8rem 1.2rem;
  background-color: var(--shadedpink-color);
  color: var(--white-color);
  max-width: 1220px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.logo--name {
  font-size: 2rem;
  color: var(--white-color);
}
.logo {
  max-width: 100px;
  width: 1000%;
  height: 77px;
}
#checkbox_toggle,
.hamburger {
  display: none;
}
.hamburger {
  font-size: 1.5rem;
  user-select: none;
}
.nav_list--Menu {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.nav_listItem + .nav_listItem {
  margin-left: 50px;
}
.nav_listItem a {
  color: var(--white-color);
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.1rem;
  font-family: var(--font-family);
}
.nav_listItem a:hover {
  box-sizing: border-box;
  background: var(--white-color);
  color: var(--black-color);
  padding: 2px 15px;
  border-radius: 10px;
  cursor: pointer;
}
.menu--item {
  display: inline-block;
  position: relative;
}
.dropdown-options {
  padding: 5px 10px;
  display: none;
  position: absolute;
  background-color: var(--shadedpink-color);
  box-shadow: 0px 4px 7px 3px rgba(0, 0, 0, 0.41);
  color: var(--white-color);
  opacity: 1;
  z-index: 1;
}
.dropdown-options a {
  display: block;
}
.menu--item:hover .dropdown-options {
  display: block;
}
/* main design begins */
.main {
  background-color: var(--white-color);
  max-width: 1220px;
  width: 100%;
  margin: 0 auto;
}
/* banner design */
.banner {
  height: 80vh;
  background-image: url("https://res.cloudinary.com/dvfszvcxa/image/upload/q_70/v1679294104/top-view-food-frame-with-copy-space_n5lucc.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.banner--qoute {
  position: absolute;
  left: 600px;
  top: 250px;
  font-size: var(--xxlfont-size);
  line-height: var(--xxlfont-size);
  color: var(--white-color);
}
/* about */
.about {
  padding: 0.9rem 0;
}
.about_wrapper {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subTitle {
  font-family: var(--font-family-poppins);
  font-size: var(--xlfont-size);
  line-height: var(--xlfont-size);
  margin: 0.7rem 0 1.3rem;
  text-align: center;
}
.about_wrapper p {
  line-height: 1.3rem;
}
/* food section starts */
.food_wrapper {
  padding: 20px;
  margin: 0 auto;
}
.min_wrapper {
  display: grid;
  grid-template-columns: repeat(3, 315px);
  align-items: center;
  justify-content: center;
  gap: 2rem;
  transition: 1s;
  transition-timing-function: ease-in-out;
}

.food-img {
  width: 100%;
  height: 237px;
  object-fit: cover;
}
.min_wrapper-box {
  height: 470px;
  box-shadow: 0px 4px 7px 3px rgba(0, 0, 0, 0.41);
}
.min_wrapper-box div {
  padding: 1rem;
}
.readMore {
  color: var(--shadedpink-color);
}
.navigate_wrapper {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.navigate {
  background-color: var(--shadedpink-color);
  color: var(--white-color);
  padding: 7px;
  /* text-align: center; */
}
/* food--slider */

.foodSlider {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--shadedpink-color);
}
.foodSlider_wrapper {
  position: relative;
  display: flex;
  max-width: 800px;
  width: 100%;
  padding: 40px 30px;
  overflow: hidden;
}
.slide {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 30px;
  overflow: hidden;
}
.slide img {
  width: 100%;
  height: 405px;
  object-fit: cover;
 
}
.slide_info {
  position: absolute;
  bottom: 22px;
}
.slide_title {
  padding: 15px 25px;
  background-color: var(--white-color);
  color: var(--shadedpink-color);
}
.slide_info::after {
  content: "";
  position: absolute;
  top: 0;
  right: -36px;
  width: 0;
  border-width: 32px 18px;
  border-style: solid;
  border-color: #fff transparent transparent #fff;
}
/* Swiper css */
.nav-btn {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  transform: translateY(10px);
  background-color: rgba(0, 0, 0, 0.9);
  transition: 0.2s;
}
.nav-btn:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.nav-btn::after,
.nav-btn::before {
  font-size: var(--xsfont-size);
  color: var(--lightpink-color);
}
.swiper-pagination-bullet {
  background-color: rgba(0, 0, 0, 0.8);
}
.swiper-pagination-bullet-active {
  background-color: var(--lightpink-color);
}
/* reviews */
.reviews {
  padding: 2rem 0;
}
.reviews_wrapper {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 315px);
  gap: 2.5rem;
  position: relative;
  overflow: hidden;
}
.reviewCard {
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  box-sizing: border-box;
  /* background-color: rgb(242, 248, 248); */
  box-shadow: 0px 4px 7px 3px rgba(0, 0, 0, 0.41);
  padding: 30px 15px;
  border-radius: 10px;
  overflow: hidden;
}
.reviews_wrapper .swiper-button-next,
.reviews_wrapper .swiper-button-prev {
  position: absolute;
}

.reviews_wrapper .swiper-wrapper {
  padding: 0 60px 20px;
}
.reviewCard_image {
  display: flex;
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
  gap: 0.6rem;
  margin-bottom: 0.8rem;
  /* color: white; */
}

.reviewCard_image img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: solid 5px var(--lightpink-color);
}
.checked {
  color: var(--orange-color);
}
.reviewCard_des {
  background-color: var(--lightpink-color);
  border-radius: 5px;
  box-shadow: inset -1.4px -1.4px 2px rgba(0, 0, 0, 0.3);
}
.reviewCard_des blockquote {
  text-align: left;
  position: relative;
  padding: 45px 20px 40px 50px;
}
.reviewCard_des blockquote:before {
  font-family: "FontAwesome";
  content: "\201C";
  position: absolute;
  font-size: var(--xlfont-size);
  opacity: 0.25;
  font-style: normal;
  top: 0px;
  left: 20px;
}
/* footer */
footer {
  background-color: var(--shadedpink-color);
  color: var(--white-color);
  max-width: 1220px;
  width: 100%;
  margin: 0 auto;
}

.footer_wrapper {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  gap: 4rem;
  padding: 2rem 0rem;
}
.footer__logo {
  display: flex;
  flex-direction: column;
}
.subscribe {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 5px;
}

.subscribe input {
  border: none;
  margin-right: 0.2rem;
  padding: 15px 40px;
  border-radius: 50px;
  max-width: 227px;
  width: 100%;
}
.subscribe .btn {
  padding: 15px 40px;
  width: 100%;
  font-size: var(--xxsfont-size);
}
.subscribe input:focus {
  outline: none;
}
.footer--title {
  font-size: var(--mdfont-size);
  line-height: 40px;
}

.socialIcons {
  display: flex;
  flex-direction: column;
}
.footer--list {
  padding: 0;
}
.footer--listItems + .footer--listItems {
  margin-top: 8px;
}
.footer--listItems a {
  color: var(--black-color);
}
.footer--listItems a:hover {
  color: var(--white-color);
}
.copy {
  border-top: 1px solid var(--black-color);
  padding: 0.5rem 1rem;
  text-align: center;
  font-family: var(--font-family);
  font-size: var(--xsfont-size);
  line-height: 24px;
}
/*  */
.hero_section {
  padding: 100px 0;
  margin-bottom: 2rem;
  background-image: url("../Assets/page-top-bg.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  text-align: center;
}
.hero_title {
  display: inline-block;
  border-radius: 5px;
  padding: 0 20px;
  margin: 0 auto;
  background-color: #ff2a6b;
  color: #fff;
  font-size: 48px;
  font-weight: bold;
  box-shadow: 0px 90px 100px rgba(0, 0, 0, 0.4);
  animation: zoomIn 0.75s linear both;
}
@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0, 0);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}
